{% block prising %}
    <!-- prising_area_start -->
    <div class="prising_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-100">
                        <h3>
                            Choisissez votre plan d'hébergement
                        </h3>
                        <p>Notre tableau de contrôle de domaine est conçu pour être facile à utiliser et <br/>
                            permet de gérer aisement tous les aspects concernant l'administration des noms de domaine.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                {{ hosting_plans()|raw }}
            </div>
        </div>
    </div>
    <!-- prising_area_end -->
{% endblock %}
