{% extends "Layouts/whois.twig" %}
{% block content %}
		<div id="rs-slider">{% include 'Layouts/Blocks/Layouts/domainwhois.twig' %}</div>
		<div id="have-question">{% include 'Layouts/Blocks/Layouts/havequestion.twig' %}</div>
{% endblock %}
