.php_cs.cache
vendor
config/app.php
config/.env
.php-cs-fixer.cache
.phpunit.cache/
.rector.cache/
.idea
logs/
tmp/
web/css/custom.css
web/js/custom.js
AGENTS.md
Caddyfile
rector.php
framework-local-root.crt
phpunit.xml
