<?php
return [
    'debug' => true,
    'App' => [
		'namespace' => 'App',
    ],
    'Security' => [
        'csrf_lifetime' => 1800, // 30 min
        'csrf_single_once' => true, // one csrf Token for each request instead of session token
    ],
    'Database' => [
        'default' => [
            'database' => 'my_db',
            'username' => 'my_dbuser',
            'password' => 'secret',
            'host' => 'localhost',
            'className' => 'Cake\Database\Connection',
            'driver' => 'Cake\Database\Driver\Mysql',
            'cacheMetadata' => true,
            'quoteIdentifiers' => false,
            // 'port' => '3306',
        ],
    ],
    'Cache' => [
        /**
         * Configure the cache for model and datasource caches. This cache
         * configuration is used to store schema descriptions, and table listings
         * in connections.
         */
        '_camoo_model_' => [
            'className' => 'Cake\Cache\Engine\FileEngine',
            'duration'  => '+10 minutes',
            'serialize' => true,
            'prefix'    => 'orm_',
            'path'      => CACHE . 'persistent/model/',
        ],
        '_camoo_hosting_conf' => [
            'className' => 'CAMOO\Cache\Filesystem',
            'duration' => '+ 2 weeks',
            'serialize' => true,
        ],
        '_camoo_hosting_tariff' => [
            'className' => 'CAMOO\Cache\Filesystem',
            'duration' => '+ 12 hours',
            'serialize' => true,
        ],

    ],
    'Session' => [
        'name' => 'CAMOOFMW',
        'cookie' => [
            'lifetime' => 14400,
            'path' => '/',
            'domain' => '.camoo.cm',
            'secure' => true,
            'httponly' => true,
        ]
    ]
];
