<?php
return [
    'debug' => defined('DEV_MODE') ? DEV_MODE : false,
    'App' => [
		'namespace' => 'App',
		'paths' => [
            'locales' => APP . 'Locale' . DS,
        ],
    ],
    'Security' => [
        'csrf_lifetime' => 1800, // 30 min
        'csrf_single_once' => true, // one csrf Token for each request instead of session token
    ],
    'Cache' => [
        /**
         * Configure the cache for model and datasource caches. This cache
         * configuration is used to store schema descriptions, and table listings
         * in connections.
         */
        '_camoo_model_' => [
            'className' => 'Cake\Cache\Engine\FileEngine',
            'duration'  => '+10 minutes',
            'serialize' => true,
            'prefix'    => 'orm_',
            'path'      => CACHE . 'persistent/model/',
        ],
        '_camoo_hosting_conf' => [
            'className' => 'CAMOO\Cache\Filesystem',
            'duration' => '+ 2 weeks',
            'serialize' => true,
        ],
        '_camoo_hosting_tariff' => [
            'className' => 'CAMOO\Cache\Filesystem',
            'duration' => '+ 12 hours',
            'serialize' => true,
        ],
        '_camoo_hosting_1hour' => [
            'className' => 'CAMOO\Cache\Filesystem',
            'duration' => '+ 1 hours',
            'serialize' => true,
        ]
    ],
    'SmtpTransport' => [
        'default' => [
            'host' => defined('SMTP_HOST') ? SMTP_HOST : null,
            'port' => defined('SMTP_PORT') ? SMTP_PORT : null,
            'username' => defined('SMTP_USERNAME') ? SMTP_USERNAME : null,
            'password' => defined('SMTP_PASSWORD') ? SMTP_PASSWORD : null,
            'secure' => defined('SMTP_SECURITY') ? SMTP_SECURITY : null,
            'timeout' => 30,
        ],
	],
    'Session' => [
        'name' => 'CAMOOFMW',
        'cookie' => [
            'lifetime' => 14400,
            'path' => '/',
            'domain' => '.' . (defined('DOMAIN_NAME') ? DOMAIN_NAME : $_SERVER['HTTP_HOST']),
            'secure' => true,
            'httponly' => true,
        ]
    ]
];
