<?php
return [
    'debug' => DEV_MODE ?? false,
    'App' => [
		'namespace' => 'App',
		'paths' => [
            'locales' => APP . 'Locale' . DS,
        ],
    ],
    'Security' => [
        'csrf_lifetime' => 1800, // 30 min
        'csrf_single_once' => true, // one csrf Token for each request instead of session token
    ],
    'Cache' => [
        /**
         * Configure the cache for model and datasource caches. This cache
         * configuration is used to store schema descriptions, and table listings
         * in connections.
         */
        '_camoo_model_' => [
            'className' => 'Cake\Cache\Engine\FileEngine',
            'duration'  => '+10 minutes',
            'serialize' => true,
            'prefix'    => 'orm_',
            'path'      => CACHE . 'persistent/model/',
        ],
        '_camoo_hosting_conf' => [
            'className' => 'CAMOO\Cache\Filesystem',
            'duration' => '+ 2 weeks',
            'serialize' => true,
        ],
        '_camoo_hosting_tariff' => [
            'className' => 'CAMOO\Cache\Filesystem',
            'duration' => '+ 12 hours',
            'serialize' => true,
        ],
        '_camoo_hosting_1hour' => [
            'className' => 'CAMOO\Cache\Filesystem',
            'duration' => '+ 1 hours',
            'serialize' => true,
        ]
    ],
    'SmtpTransport' => [
        'default' => [
            'host' => SMTP_HOST ?? null,
            'port' => SMTP_PORT ?? null,
            'timeout' => 30,
            'username' => SMTP_USERNAME ?? null,
            'password' => SMTP_PASSWORD ?? null,
            'secure' => SMTP_SECURITY ?? null,
        ],
	],
    'Session' => [
        'name' => 'CAMOOFMW',
        'cookie' => [
            'lifetime' => 14400,
            'path' => '/',
            'domain' => '.camoo.cm',
            'secure' => true,
            'httponly' => true,
        ]
    ]
];
